.header {
  width: 100%;
  padding: 17px;

  &__logo {
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-link {
      cursor: pointer;
    }

    &-image {
      max-width: 60px;
      height: 100%;
    }
  }
}