@import '../../styles/scss/variables.scss';
@import '../../styles/scss/mixins.scss';

.transfer {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &__title {
        @include uppercaseText($color-textPrimary);
        line-height: 12px;
        padding: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}