@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$font-stack: 'Open Sans', sans-serif;

$color-primary: #2196f3;
$color-pageBackground: #f3f7fa;
$color-mainBackground: #f1fcff;
$color-white: #fff;
$color-hover: #f1fcff;
$color-textPrimary: #4a4a4a;
$color-textSecondary: #a0b0b9;
$color-placeholder: #9ea9b7;